{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    {% if original.pk %}
        {% if original.ativo %}
            {% comment %}
                <a
                    href="{% url 'cup:ranking_data' original.pk %}"
                    class="btn btn-block btn-primary btn-sm mt-2"
                    target="_blank"
                >
                    Ver Ranking
                </a>
            {% endcomment %}

            <a
                class="btn btn-block btn-secondary btn-sm mt-2"
                href="{{ APP_LINK }}/torneio-v2/{{original.slug}}/ranking"
                target="_blank"
            >
                Ver Ranking
            </a>
        {% endif %}
    {% endif %}
{% endblock %}