{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    {% if original.pk %}
        <a class="btn btn-block btn-primary btn-sm mt-2" href="{% url 'escala_de_plantao:create_plantoes' original.pk %}">Próximo mês</a>
        <a class="btn btn-block btn-primary btn-sm mt-2" href="{% url 'escala_de_plantao:calendario_plantoes' original.pk %}" target="_blank">Calendário</a>
        <a class="btn btn-block btn-primary btn-sm mt-2" href="{% url 'escala_de_plantao:see_all_escalas' original.pk %}" target="_blank">Ver escala</a>
    {% endif %}
{% endblock %}