{% extends "admin/change_list.html" %}

{% block content %}
{{ block.super }}
<script>
    function formatPrice(price) {
        const result = new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(price)
        return result
    }

    document.addEventListener('DOMContentLoaded', function() {
        let total = 0

        // Percorre todas as linhas da tabela e soma os valores
        document.querySelectorAll('tbody tr').forEach(row => {
            let type = row.querySelector('td.field-render_type span')?.innerText.trim()
            let valueText = row.querySelector('td.field-value')?.innerText.trim().replace(',', '.')
            if (type && valueText) {
                let value = parseFloat(valueText)
                if (!isNaN(value)) {
                    total += (type === 'Entrada') ? value : -value
                }
            }
        })

        // Adiciona o total na página do Django Admin
        let totalDiv = document.createElement('div')
        totalDiv.innerHTML = `<h3 style="text-align: right; margin: 20px 0">Saldo: ${formatPrice(total)}</h2>`
        document.querySelector('#content-main').insertAdjacentElement('afterend', totalDiv)
    })
</script>
{% endblock %}