{% extends "admin/change_list.html" %}
{% load static %}

{% block extrajs %}
    {{ block.super }}

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function formatPrice(price) {
                const result = new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(price)
                return result
            }
            setTimeout(() => {
                const renderPeriod = document.querySelector('span.select2-selection__rendered[title="Data"]')
                renderPeriod.textContent = `{{ period }}`
            }, 200)

            let totalDiv = document.createElement('div')
            totalDiv.innerHTML = `<h3 style="margin: 10px 0">SALDO: R$ {{ total_value }}</h3>`
            document.querySelector('.change-list-actions.row.pb-3').insertAdjacentElement('afterend', totalDiv)
        })
    </script>
{% endblock %}
