{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    {% if original.pk %}
    {% if original.ativo and not original.open %}
            <span id="canCreateGames"/>

            <dialog id="games-dialog" style="border: 1px solid gray; border-radius: 10px; padding: 20px;">
                <section>
                    <h4>Atenção!</h4>
                    {% if original.has_games %}
                        <h5>Já existem jogos criados para este torneio. Deseja recriá-los? A ação não pode ser desfeita!</h5>
                    {% else %}
                        <h5>Tem certeza que deseja criar os jogos? A ação não pode ser desfeita!</h5>
                    {% endif %}
                </section>

                <div style="display: flex; justify-content: space-between; margin-top: 20px;">
                    <button
                        type="button"
                        id="games-cancel"
                        class="btn btn-primary btn-sm"
                    >
                        Cancelar
                    </button>

                    <a class="btn btn-primary btn-sm" href="{% url 'bt_cup:create_games' original.pk %}">
                        Sim, criar
                    </a>
                </div>
            </dialog>

            <button
                type="button"
                id="finish-tournament"
                class="btn btn-block btn-primary btn-sm mt-2"
            >
                Encerrar
            </button>

            <dialog id="tournament-dialog" style="border: 1px solid gray; border-radius: 10px; padding: 20px;">
                <section>
                    <h4>Atenção!</h4>
                    <h5>Tem certeza que deseja encerrar o torneio? A ação não pode ser desfeita!</h5>
                </section>

                <div style="display: flex; justify-content: space-between; margin-top: 20px;">
                    <button
                        type="button"
                        id="tournament-cancel"
                        class="btn btn-primary btn-sm"
                    >
                        Cancelar
                    </button>

                    <a
                        class="btn btn-primary btn-sm"
                        href="{% url 'bt_cup:finish_tournament' original.pk %}"
                    >
                        Sim, encerrar
                    </a>
                </div>
            </dialog>

            <a
                href="{% url 'bt_cup:qrcode_tournament' original.pk %}"
                class="btn btn-block btn-primary btn-sm mt-2"
                target="_blank"
            >
                QR Code
            </a>
        {% endif %}

        <a
            href="{% url 'bt_cup:see_tournament' original.pk %}"
            class="btn btn-block btn-primary btn-sm mt-2"
        >
            Ver Torneio
        </a>

        {% if not original.is_finished and original.has_games and original.ativo and original.playoffs %}
            <a
                href="{% url 'bt_cup:next_stage' original.pk %}"
                class="btn btn-block btn-primary btn-sm mt-2"
            >
                Próxima fase
            </a>
        {% endif %}
    {% endif %}
{% endblock %}